@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

/* shared styles  */

.max-width {
  max-width: 1600px;
}

.margin-auto {
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.justify-content {
  justify-content: center;
}

.align-items {
  align-items: center;
}

.flex-dir {
  flex-direction: column;
}

.bgc {
  background-color: rgba(26, 11, 46, 1);
}

.greenC {
  color: rgba(0, 255, 136, 1);
}

.gradientBgc {
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}

.gradientC {
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#display-hidden {
  display: none;
}

.heading1 {
  font-size: 48px;
  font-weight: 700;
}

.opacity8 {
  opacity: 0.8;
}

.heading2 {
  font-size: 24px;
  font-weight: 700;
}

.text-align {
  text-align: center;
}

.btn {
  font-weight: 600;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  gap: 8px;
  color: white;
}

/* nav styles  */

.nav-container {
  padding: 24px 25px;
  justify-content: space-between;
}

.nav-links {
  gap: 32px;
}

.nav-links > p {
  font-weight: 500;
  opacity: 0.9;
}

.nav-btn {
  font-weight: 600;
  padding: 12px 16px;
  border: none;
  color: white;
  border-radius: 20px;
  gap: 4px;
}

.nav-btn > i {
  font-size: 12px;
}

/* banner section styles  */

.banner-container {
  width: 100%;
  height: 760px;

  background-image: url(../assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 20px;
  position: relative;
}

.badge {
  border-radius: 1000px;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  background: rgba(0, 255, 136, 1);

  padding: 8px 16px;
  font-weight: 600;
  font-size: 18px;
  color: rgba(26, 11, 46, 1);
  border-radius: 30px;
  border: none;
  width: 75px;
  position: absolute;
  top: 3.43%;
  right: 6.57%;
  z-index: 1;
}

.banner-circle {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-outer-img {
  position: relative;
}

.banner-inner-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-text {
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 100px;
}

.banner-header {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 8px;
}

.banner-btns {
  gap: 8px;
  margin-top: 24px;
}

.banner-btn2 {
  background-color: transparent;
  border: 2px solid rgba(0, 255, 136, 1);
}

/* about section styles  */

.about {
  /* margin: 50px 200px 120px; */
  margin-top: 80px;
  flex-direction: column;
}

.about-header {
  margin-bottom: 16px;
}

.about-description {
  width: 50%;
  line-height: 30px;
}

.line {
  height: 1px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 80px auto;
}

.about-stats {
  width: 95%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}

.stats {
  gap: 16px;
  height: 94px;
}

.stats-header {
  font-size: 48px;
  font-weight: 900;
}

/* footer section styles  */
footer {
  margin-top: 120px;
  margin-bottom: 120px;
}
.footer-bg {
  height: 412px;
  background-image: url(../assets/footer-bg.png);
  background-position: center;
  background-size: cover;
}

.footer-header {
  font-size: 60px;
}

.footer-links {
  gap: 40px;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 32px 0;
}

.footer-link > p {
  opacity: 0.6;
  font-weight: 500;
}

.copyr {
  opacity: 0.6;
}

/* for mobile  */

@media screen and (max-width: 576px) {
  /* nav styles  */

  .nav-links,
  .nav-btn {
    display: none;
  }

  #display-hidden {
    display: block;
    font-size: 20px;
  }

  /* banner section  */

  .banner-container {
    height: 450px;
    width: 100%;
  }

  .banner-circle img:first-child {
    height: 200px;
    width: 200px;
  }

  .banner-circle img:nth-child(2) {
    width: 55px;
  }

  .badge {
    right: -3.43%;
  }

  .banner-header {
    font-size: 40px;
  }

  .banner-text {
    padding-bottom: 0px;
  }

  /* about section  */

  .heading1 {
    font-size: 32px;
  }

  .about-description {
    width: 90%;
  }

  .line {
    width: 90%;
    margin: 40px auto;
  }

  .about-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 20px;
    gap: 40px;
  }

  .stats-header {
    font-size: 40px;
  }

  /* footer styles  */

  footer {
    width: 575px;
  }

  .footer-bg {
    height: 248px;
    width: 100%;
  }
}

/* medium size device  */

@media screen and (min-width: 576px) and (max-width: 992px) {
  /* nav styles  */

  .nav-btn {
    display: none;
  }

  #display-hidden {
    display: block;
  }

  /* about section  */

  .about-description {
    width: 80%;
  }

  .line {
    width: 90%;
    margin: 50px auto;
  }

  .about-stats {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    margin: 0px 50px 40px;
  }
}
