* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-container {
  max-width: 1600px;
  margin: 0 auto;
}

.footer-img {
  background-image: url(./assets/Image.png);
  width: 100%;
  max-height: 410px;
  aspect-ratio: 16 / 9;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
